.flow {
  &-y :where(:not(:last-child)) {
    margin-bottom: var(--spacer, 12px);
  }
}

.text-spacing-3px {
  letter-spacing: 3.2px;
}

.cursor-pointer {
  cursor: pointer;
}
.lightless {
  &-70 {
    filter: brightness(0.3);
  }
  &-50 {
    filter: brightness(0.5);
  }
  &-30 {
    filter: brightness(0.7);
  }
}

// 字體大小生成斷點
$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
  )
);
