<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <!-- icofont -->

    <link
      rel="stylesheet"
      href="../assets/icofont/icofont.min.css"
    />
    <title>7TAO活動訂票網</title>
  </head>

  <body>
    <%- include('./layout/navbar.ejs'); -%>
    <header class="mt-8">
      <div class="container">
        <div
          id="headerCarousel"
          class="carousel slide"
        >
          <div class="carousel-inner">
            <% [12,4,2].forEach( (id,index) => { %>
            <a
              href="#"
              class="carousel-item <%= index === 0 ? 'active':'' %>"
            >
              <img
                src="../assets/images/event/<%= data.cards[id].id %>.jpg"
                class="d-block w-100 lightless-30 object-fit-cover"
                alt="<%= data.cards[id].title %>"
                style="min-height: 350px; max-height: 518px"
              />
              <h5 class="title-top-left"><%= data.cards[id].date %></h5>
              <div class="carousel-caption">
                <h5 class="fw-bold"><%= data.cards[id].title %></h5>
                <p class="font-monospace d-none d-xl-block"><%= data.cards[id].content %></p>
              </div>
            </a>
            <% }); %>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#headerCarousel"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#headerCarousel"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <ul
          class="row row-cols-3 row-cols-lg-6 g-2 g-lg-6 mt-12"
          role="list"
        >
          <li class="col">
            <div class="square-card">
              <img
                src="../assets/images/cate01.svg"
                alt="演出"
              />演出
            </div>
          </li>
          <li class="col">
            <div class="square-card">
              <img
                src="../assets/images/cate02.svg"
                alt="聯誼"
              />聯誼
            </div>
          </li>
          <li class="col">
            <div class="square-card">
              <img
                src="../assets/images/cate03.svg"
                alt="展覽"
              />展覽
            </div>
          </li>
          <li class="col">
            <div class="square-card">
              <img
                src="../assets/images/cate04.svg"
                alt="美食"
              />美食
            </div>
          </li>
          <li class="col">
            <div class="square-card">
              <img
                src="../assets/images/cate05.svg"
                alt="戶外"
              />戶外
            </div>
          </li>
          <li class="col">
            <a
              href="events.html"
              class="square-card bg-dark text-decoration-none"
            >
              <h2 class="text-primary fw-bold">探索<br />更多</h2>
            </a>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <!-- 近期活動 -->
      <section class="container">
        <div class="styled-banner mt-8 mt-lg-12">
          <h2 class="styled-banner__title">RECENT</h2>
          <h3 class="styled-banner__subtitle">近期活動</h3>
        </div>
        <div class="row mt-6 mt-md-8">
          <% for(let i = 0; i < 6; i++){ %> <%- include('./layout/card-post.ejs', data.cards[i]); %> <% } %>
        </div>
      </section>
      <!-- 線上活動 -->
      <section
        class="container"
        data-aos="fade-up"
      >
        <div class="styled-banner mt-8 mt-lg-12">
          <h2 class="styled-banner__title">ONLINE</h2>
          <h3 class="styled-banner__subtitle">線上活動</h3>
        </div>
        <div class="row">
          <img
            class="col-lg-7 mt-8 object-fit-cover"
            src="../assets/images/event/online.jpg"
            alt="chatGPT"
            style="aspect-ratio: 21/9; object-position: 0 25%"
          />
          <div class="col-lg-5 mt-3 mt-md-8">
            <h3 class="fw-bold fs-6 fs-md-3 mb-2 mb-md-4">切特居批踢</h3>
            <ul
              class="d-flex gap-2 mb-4 mb-md-8"
              role="list"
            >
              <li><span class="badge tag-striking">競賽</span></li>
              <li><span class="badge tag-striking">科技</span></li>
              <li><span class="badge tag-striking">有趣</span></li>
            </ul>

            <p class="font-monospace mb-4 mb-md-8"
              >最近網路上很流行的AI程式
              ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。<br />
              這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。<br />
              該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！
            </p>
            <a
              href="#"
              class="btn btn-dark hover-text-primary fs-7 fs-md-5 py-4 w-100 text-center"
            >
              查看活動詳情<i class="icofont-rounded-double-right ms-1"></i>
            </a>
          </div>
        </div>
      </section>
      <!-- 活動集錦 -->
      <div
        class="bg-dark text-primary py-4 py-md-6 mt-8 mt-md-14 fs-7 fs-md-3 text-center text-truncate fw-bold text-spacing-3px"
        data-aos="fade-up"
        >活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div
      >
      <div
        class="container text-center px-10 py-12 py-lg-15"
        data-aos="fade-up"
      >
        <ul
          class="row gx-5 gy-10"
          role="list"
        >
          <% for(let i = 0; i < 4; i++){ %>
          <li class="col-sm-6 col-lg-3">
            <div
              class="album-item"
              style="transform: rotate(<%= data.albums[i].rotate %>deg)"
            >
              <span class="album-item__tag"><%= data.albums[i].tag %></span>
              <img
                class="album-item__img"
                src="../assets/images/album/<%= data.albums[i].id %>.jpg"
                alt=""
              />
              <h5 class="album-item__title text-truncate"><%= data.albums[i].title %></h5>
            </div>
          </li>
          <% } %>
        </ul>
      </div>
      <div
        class="bg-dark text-primary py-4 py-md-6 fs-7 fs-md-3 text-center text-truncate fw-bold text-spacing-3px"
        data-aos="fade-up"
        >活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div
      >
      <!-- 訂閱 -->
      <div
        class="container py-8 py-lg-15"
        data-aos="fade-up"
      >
        <div class="row gx-0 gy-6">
          <div class="col-md-6">
            <section class="card border-dark border-2">
              <h3
                class="card-header border-dark border-2 fw-bold px-3 px-md-8 py-4"
                style="font-family: 'Noto Serif TC'"
              >
                #FOLLOW US
              </h3>
              <div class="card-body px-3 py-4 p-md-8 font-monospace">
                想第一時間獲得新奇有趣的活動資訊？<br />
                追蹤我們的社群吧！<br />
                也歡迎你聯繫我們，提供好玩有趣的活動企劃。
                <ul
                  class="flow-y mt-4 mt-md-8 mb-1"
                  role="list"
                  style="--spacer: 1rem"
                >
                  <li>
                    <a
                      href="mailto:"
                      class="icon-link link-dark gap-4 text-decoration-none"
                    >
                      <i class="icofont-ui-email p-2 bg-dark text-white"></i>7tao.event@gmail.com
                    </a>
                  </li>
                  <li>
                    <a
                      href="tel:+09123123123"
                      class="icon-link link-dark gap-4 text-decoration-none"
                    >
                      <i class="icofont-phone p-2 bg-dark text-white"></i>09123123123
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      class="icon-link link-dark gap-4 text-decoration-none"
                    >
                      <i class="icofont-facebook p-2 bg-dark text-white"></i>7TAO七逃
                    </a>
                  </li>
                </ul>
              </div>
            </section>
          </div>
          <div class="col-md-6">
            <section class="card border-dark border-2 h-100">
              <h3
                class="card-header border-dark border-2 fw-bold px-3 px-md-8 py-4"
                style="font-family: 'Noto Serif TC'"
              >
                #SUBSCRIBE US
              </h3>
              <div class="card-body p-4 p-md-8 font-monospace">
                訂閱電子報送折價券！<br />
                定期精選文章資訊及最新優惠資訊，<br />
                還不通通給我訂閱起來？
                <form
                  action=""
                  class="mt-4 mt-md-8 row gx-0"
                >
                  <input
                    class="form-control px-lg-6 py-lg-4"
                    type="email"
                    name="email"
                    id="email"
                    placeholder="輸入Email"
                    aria-placeholder="輸入Email"
                  />
                </form>
              </div>
              <a
                href="#"
                class="btn btn-dark hover-text-primary mt-auto fs-5 w-100"
              >
                確認訂閱
                <i class="icofont-rounded-double-right ms-1"> </i>
              </a>
            </section>
          </div>
        </div>
      </div>
      <!-- Callout -->
      <blockquote
        class="d-flex flex-column align-items-center gap-4 py-12 py-md-15 mb-0 border-top border-3 border-dark"
        data-aos="fade-up"
      >
        <h3 class="fs-6 fs-md-3 fw-bold mb-0">此刻打盹，你將做夢；此刻學習，你將圓夢</h3>
        <h5 class="fw-bold fs-8 fs-md-6 mb-0">——我也不知道誰說的</h5>
      </blockquote>
    </main>
    <%- include('./layout/footer.ejs'); -%>
    <script
      type="module"
      src="../main.js"
    ></script>
  </body>
</html>
